.coupons-icon {
    background: url(../icon/c-icon.png) no-repeat center/0.5rem;
}

.mine-icon {
    background: url(../icon/mine-icon.png) no-repeat center/0.5rem;
}

.address-icon {
    background: url(../icon/address-icon.png) no-repeat center/0.5rem;
}

.r-icon {
    background: url(../icon/r-icon.png) no-repeat center/0.5rem;
}

.record-icon {
    background: url(../icon/record-icon.png) no-repeat center/0.5rem;
}

.s-icon {
    background: url(../icon/s-icon.png) no-repeat center/0.5rem;
}